Repository Brains-Beyond-Expectations/bbe-charts, pull requests merged in 2025-05, with the labels that each got.

#39 feat: add autobrr
  .github/autobrr-release-drafter.yaml
  charts/autobrr/.helmignore
  charts/autobrr/.kube-linter.yaml
  charts/autobrr/Chart.yaml
  charts/autobrr/README.md
  charts/autobrr/templates/_helpers.tpl
  charts/autobrr/templates/config.yaml
  charts/autobrr/templates/deployment.yaml
  charts/autobrr/templates/ingress.yaml
  charts/autobrr/templates/service.yaml
  charts/autobrr/tests/config_test.yaml
  charts/autobrr/tests/deployment_test.yaml
  charts/autobrr/tests/ingress_test.yaml
  charts/autobrr/tests/service_test.yaml
  charts/autobrr/tests/values/required-values.yaml
  charts/autobrr/values.schema.json
  charts/autobrr/values.yaml
  renovate.json
Labels: patch, feature, autobrr

#42 feat(bbe-networking): add metalb requirements
  charts/bbe-networking/Chart.yaml
  charts/bbe-networking/templates/metallb-ip-address-pool-blocky.yaml
  charts/bbe-networking/templates/metallb-ip-address-pool-default.yaml
  charts/bbe-networking/tests/values/required-values.yaml
  charts/bbe-networking/values.schema.json
  charts/bbe-networking/values.yaml
Labels: minor, feature, bbe-networking

#43 fix: require required fields in bbe-networking schema
  charts/bbe-networking/values.schema.json
Labels: bug, patch, bbe-networking
